@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 

html {
    scroll-behavior: smooth;
}

body {
  background-color: black;
}

.galmuri11 {
  font-family: "Galmuri11", sans-serif;
  font-weight: bold;
}

@media all and (min-width:0px){
  @font-face {
    font-family: 'EF_Hyunygothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Hyunygothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Hyunygothic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Hyunygothic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Hyunygothic.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/earlyfont/EF_Hyunygothic.ttf') format("truetype");
    font-display: swap;
  }

  .navbar {
    font-family: '혀니고딕', 'EF_Hyunygothic';
  }

}

.pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-narrow-bold {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.new-amsterdam-regular-nav {
    font-family: "New Amsterdam", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.anek-devanagari {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-size: 60px;
  font-weight: 300;
  font-variation-settings:
    "wdth" 100;
}

.hahmlet-300 {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#contact-click:hover {
  text-shadow: 1px 1px 3px rgb(80, 80, 80);
}

.main_container {
  width: 100%;
  top: 20%;
  padding: 3% 0% 3% 10%;
}

.main_square {
  width: 90%;
  margin-top: 10%;
  padding: 1% 2% 3% 2%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3%;
  gap: 3%;
  border: 4px solid rgba(255, 255, 61, 0.897);

  .item {
    padding-left: 2%;
    padding-top: 2%;
    border: 1px solid yellow;
    color: white;
    font-family: '혀니고딕', 'EF_Hyunygothic';
    font-size: 20px;
  }

  .item:nth-child(1) {
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;   
  }

  .item:nth-child(7) {
    grid-column: 1 / span 2;
    border-top: 1px solid yellow;
  }
}

.container{
  font-family: '혀니고딕', 'EF_Hyunygothic';
  font-size: 20px;
  color: white;
  width: 80%;
  height: 400px;
  padding-top: 120px;
  display: flex;
}

.container, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.typing-container {
  font-family: '혀니고딕', 'EF_Hyunygothic';
  font-size: 110%;
  font-weight:300;
  margin: 5%;
  width: 90%;
  word-break:keep-all;
  color: white;
  display: flex;
  flex-direction: column;
}

#cursor {
  border-left: 2px solid white; /* 커서 스타일 */
  animation: blink 0.7s infinite;
  display: inline-block;
  margin-left: 2px;
  font-family: '혀니고딕', 'EF_Hyunygothic';
  height: 100%; /* 폰트 크기와 동일하게 설정 */
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact{
    /* background-color: #f4f3f3; */
    background-color: #DC3545;

    h1 {
        color: white;
        margin-top: 30%;
        padding: 0 0 0 5%;
    }

    .contact_imgs {
        width: 100%;
        margin-top:20px;
        display: flex;
        justify-content: flex-end;

        a {
            width: 100px;
            margin-left: 20px;
        }
    }
}

.projects {
    margin-top: 8%;
    padding: 10%;
    color: white;
}

.pjt_imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
